<div class="register-container outlet_wrapper">
    <!-- <h2>User Register</h2> -->
    <div class="row-flex jsb page-header relative">
        <div class="page-header-text">
            <h2 class="heading_text tab_name font-18">Register User</h2>
            <!-- <h2 class="heading_text tab_name font-18">Users</h2> -->
            <!-- <ul class="breadcrumb"> -->
            <div class="breadcrumb row-flex" style="align-items: center;"><a routerLink="/dashboard">Dashboard</a> <img
                    style="width: 8px; height: 8px; margin: 0 .8rem;" src="assets/images/circle-fill.svg" /> <a
                    routerLink="/users"> Users </a> <img style="width: 8px; height: 8px; margin: 0 .8rem;"
                    src="assets/images/circle-fill.svg" /> Register User </div>
            <!-- </ul> -->
        </div>
        <img class="header-image" src="assets/images/Chat.png" alt="">
    </div>
    <div class="content_wrapper">
        <form class="register-form" #RegisterForm="ngForm" (ngSubmit)="register(RegisterForm)" novalidate>
            <!-- Username -->
            <div class="input-field">
                <label for="name" [ngClass]="{
            'error-label':
              nameInput.invalid && (nameInput.dirty || nameInput.touched)
          }">Name<sup>*</sup></label>
                <input id="name" name="name" type="text" [(ngModel)]="RegisterData.name" #nameInput="ngModel" required
                    minlength="3" placeholder="Enter Name" (input)="onInputChange()" [class.invalid]="
            nameInput.invalid && (nameInput.dirty || nameInput.touched)
          " />
                <!-- <label for="name" [ngClass]="{'error-label': nameInput.invalid && (nameInput.dirty || nameInput.touched)}" >Name<sup>*</sup></label> -->
                <div class="error" *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
                    <span *ngIf="nameInput.errors?.required" class="font-13">Name is required.</span>
                    <span *ngIf="nameInput.errors?.minlength" class="font-13">Minimum length is 3</span>
                </div>
            </div>
            <!-- Email -->
            <div class="input-field">
                <label for="email" [ngClass]="{
            'error-label':
              emailInput.invalid && (emailInput.dirty || emailInput.touched)
          }">Email<sup>*</sup></label>
                <input id="email" name="email" type="email" [(ngModel)]="RegisterData.email" #emailInput="ngModel"
                    required minlength="3" pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    (input)="onInputChange()" placeholder="Enter Email" [class.invalid]="
            emailInput.invalid && (emailInput.dirty || emailInput.touched)
          " />
                <!-- <label for="email" [ngClass]="{'error-label': emailInput.invalid && (emailInput.dirty || emailInput.touched)}" >Email<sup>*</sup></label> -->
                <div class="error" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                    <span *ngIf="emailInput.errors?.required" class="font-13">Email is required.</span>
                    <span *ngIf="emailInput.errors?.pattern" class="font-13">Enter a valid email address.</span>
                </div>
            </div>
            <!-- Password -->
            <div class="input-field password-wrapper">
                <div class="password-field">
                    <label for="password" [ngClass]="{
              'error-label':
                passwordInput.invalid &&
                (passwordInput.dirty || passwordInput.touched)
            }">Password<sup>*</sup></label>
                    <div class="" style="position: relative">
                        <input id="password" name="password" placeholder="Enter Password"
                            [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="RegisterData.password"
                            #passwordInput="ngModel" required minlength="3" (input)="onInputChange()" [class.invalid]="
                passwordInput.invalid &&
                (passwordInput.dirty || passwordInput.touched)
              " />
                        <!-- <label for="password" [ngClass]="{'error-label': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)}" >Password<sup>*</sup></label> -->

                        <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="togglePasswordVisibility()" style="cursor: pointer; margin-left: -30px"></i>
                    </div>
                </div>

                <div class="error" *ngIf="
            passwordInput.invalid &&
            (passwordInput.dirty || passwordInput.touched)
          ">
                    <span *ngIf="passwordInput.errors?.required" class="font-13">Password is required.</span>
                    <span *ngIf="passwordInput.errors?.minlength" class="font-13">Minimum 3 characters required.</span>
                </div>
            </div>

            <!-- Conatct No. -->
            <div class="input-field">
                <label for="contact_no" [ngClass]="{
            'error-label':
              contact_noInput.invalid &&
              (contact_noInput.dirty || contact_noInput.touched)
          }">Contact No.<sup>*</sup></label>
                <input id="contact_no" name="contact_no" placeholder="Enter Contact No." type="text"
                    [(ngModel)]="RegisterData.contact_no" #contact_noInput="ngModel" required minlength="10"
                    maxlength="10" (input)="onInputChange()" (keypress)="restrictNonNumeric($event)" [class.invalid]="
            contact_noInput.invalid &&
            (contact_noInput.dirty || contact_noInput.touched)
          " />
                <!-- <label for="contact_no" [ngClass]="{'error-label': contact_noInput.invalid && (contact_noInput.dirty || contact_noInput.touched)}">Contact No.<sup>*</sup></label> -->
                <div class="error" *ngIf="
            contact_noInput.invalid &&
            (contact_noInput.dirty || contact_noInput.touched)
          ">
                    <span *ngIf="contact_noInput.errors?.required" class="font-13">Conatct No. is required.</span>
                </div>
            </div>

            <!-- User Type -->
            <div class="input-field">
                <label for="user_type" [ngClass]="{
            'error-label':
              userTypeInput.invalid &&
              (userTypeInput.dirty || userTypeInput.touched)
          }">User Type<sup>*</sup></label>
                <select class="dropdown capitalize" id="user_type" name="user_type"
                    [(ngModel)]="RegisterData.user_type_id" #userTypeInput="ngModel" required (change)="onInputChange()"
                    [class.invalid]="
            userTypeInput.invalid &&
            (userTypeInput.dirty || userTypeInput.touched)
          ">
                    <option value="" disabled selected class="capitalize">
                        Select User Type
                    </option>
                    <option *ngFor="let type of userTypeList" class="capitalize" [value]="type.id">
                        {{ type.user_type }}
                    </option>
                </select>
                <!-- <label for="user_type" [ngClass]="{'error-label': userTypeInput.invalid && (userTypeInput.dirty || userTypeInput.touched)}" >User Type<sup>*</sup></label> -->
                <div class="error" *ngIf="
            userTypeInput.invalid &&
            (userTypeInput.dirty || userTypeInput.touched)
          ">
                    <span *ngIf="userTypeInput.errors?.required" class="font-13">User Type is required.</span>
                </div>
            </div>

            <!-- Designation -->
            <div class="input-field">
                <label for="designation" [ngClass]="{
            'error-label':
              designationInput.invalid &&
              (designationInput.dirty || designationInput.touched)
          }">Designation<sup>*</sup></label>
                <select class="dropdown capitalize" id="designation" name="designation"
                    [(ngModel)]="RegisterData.designation_id" #designationInput="ngModel" required
                    (change)="onInputChange()" [class.invalid]="
            designationInput.invalid &&
            (designationInput.dirty || designationInput.touched)
          ">
                    <option value="" disabled selected class="capitalize">
                        Select Designation
                    </option>
                    <option *ngFor="let desig of designationList" class="capitalize" [value]="desig.id">
                        {{ desig.designation }}
                    </option>
                </select>
                <!-- <label for="designation" [ngClass]="{'error-label': designationInput.invalid && (designationInput.dirty || designationInput.touched)}" >Designation<sup>*</sup></label> -->
                <div class="error" *ngIf="
            designationInput.invalid &&
            (designationInput.dirty || designationInput.touched)
          ">
                    <span *ngIf="designationInput.errors?.required" class="font-13">Designation is required.</span>
                </div>
            </div>

            <!-- Submit -->
            <!-- <button type="submit">Login</button> -->
            <!-- <button type="submit" [disabled]="RegisterForm.invalid || isLoading"> -->
            <button type="submit" [disabled]="RegisterForm.invalid || isLoading">
                <!-- {{ isLoading ? "Logging in..." : "Login" }} -->
                Submit
            </button>

            <!-- Server or Login error -->
            <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
        </form>
    </div>
</div>