.filters_container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1200px; */
  /* margin-left: auto; */
}

.filters_container .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  /* height: 18px; */
  width: 20px;
  display: flex;
  align-items: center;
}

.filters_container .right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-title-label-1 {
  font-size: 14px;
  font-family: var(--semibold-font);
  color: var(--black-color);
  width: fit-content;
  position: absolute;
  z-index: 5;
  top: 30%;
  /* top: 33%; */
  left: 3%;
  padding: 0 4px;
  transition: var(--common-transition);
}

.form-title-label-1.active {
  background-color: var(--white-color);
  font-size: 12px;
  top: -18% !important;
  left: 2% !important;
}

.formInput {
  height: 100%;
}

.formInput .ng-select {
  height: 100%;
}

.formInput .ng-select .ng-select-container {
  height: 100%;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.flex_center {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.read span,
.delete span,
.edit span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: var(--common-transition);
}

.edit span:hover {
  background-color: #13deb9;
  color: white;
}

.read span:hover {
  background-color: #5d87ff;
  color: white;
}

.delete span:hover {
  background-color: #fa896b;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 99999;
}

/* Sliding Panel */
.slide-panel {
  width: 35%;
  height: 100%;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 20px;
}

/* Active State */
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.overlay.active .slide-panel {
  transform: translateX(0);
}

/*  */
.display-flex {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.detail-wrapper {
  width: 100%;
  padding: 1rem 1rem 1rem 0rem;
  /* border: 1px solid black; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.single-data {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.text-green {
  color: rgb(10, 107, 10) !important;
}
.text-red {
  color: red !important;
}

.row-flex button {
    /* padding: 0.6rem 1rem;
    border: none;
    background: #5D87FF;
    color: white;
    border-radius: 8px;
    transition: var(--common-transition);
    border: 1px solid #5D87FF; */
    width: fit-content;
    padding: 0.75rem 1rem;
    font-size: 1.05rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    background: #5D87FF;
}

/* .row-flex button:hover {
    background: white;
    color: #5D87FF;
    border: 1px solid #5D87FF;
} */
 

.PopupOverlay {
  width: 100%;
  height: 100%;
  background: #00000050;
  position: fixed;
  z-index: 98999;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.PopupOverlay.active {
  opacity: 1;
  pointer-events: all;
}

.statusPopup {
  padding: 1.25rem;
  border-radius: 8px;
  background: #ffffff;
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 90%;
  max-width: 500px;
  transition: all 0.5s ease;
  pointer-events: none;
}

.statusPopup.active {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}
