<div class="forgot-pass-container">
    <p *ngIf="!isReset">Please enter the email associated with your account</p>
    <form #forgotPass="ngForm" (ngSubmit)="onSubmit(forgotPass)" *ngIf="!isReset">
        <!-- Email -->
        <div class="">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" [(ngModel)]="email" #emailInput="ngModel" required minlength="3"
                pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (input)="onInputChange()" [class.invalid]="
          emailInput.invalid && (emailInput.dirty || emailInput.touched)
        " />
            <div class="error" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                <span *ngIf="emailInput.errors?.required" class="font-13">Email is required.</span>
                <span *ngIf="emailInput.errors?.pattern" class="font-13">Enter a valid email address.</span>
            </div>
        </div>

        <button type="submit" [disabled]="forgotPass.invalid">
            Forgot Password
        </button>

        <a routerLink="/login"><button>Back to Login</button></a>

        <div class="">
            <!-- <a routerLink="/forgot-password">Forgot Password ?</a> -->
            <!-- <a routerLink="/change-password">Change Password ?</a> -->
        </div>

        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>

    <!-- Reset Password -->

    <form *ngIf="isReset" #resetForm="ngForm" (ngSubmit)="onResetSubmit(resetForm)">
        <div class="password-wrapper">
            <label for="newPassword">New Password</label>
            <div class="password-field">
                <input id="newPassword" name="password" [type]="newPasswordVisible ? 'text' : 'password'"
                    [(ngModel)]="resetPass.password" (ngModelChange)="validatePasswords()" #newPasswordInput="ngModel"
                    required minlength="6" [class.invalid]="
            newPasswordInput.invalid &&
            (newPasswordInput.dirty || newPasswordInput.touched)
          " />
                <i class="fa" [ngClass]="newPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="toggleNewPasswordVisibility()" style="cursor: pointer; margin-left: -30px"></i>
            </div>
            <div class="error" *ngIf="
          newPasswordInput.invalid &&
          (newPasswordInput.dirty || newPasswordInput.touched)
        ">
                <span *ngIf="newPasswordInput.errors?.required" class="font-13">New password is required.</span>
                <span *ngIf="newPasswordInput.errors?.minlength" class="font-13">Minimum 6 characters required.</span>
            </div>
        </div>

        <div class="confirm-password-wrapper">
            <label for="confirmPassword">Confirm New Password</label>
            <div class="password-field">
                <input id="confirmPassword" name="confirmPassword" [type]="confirmPasswordVisible ? 'text' : 'password'"
                    [(ngModel)]="resetPass.confirmPassword" (ngModelChange)="validatePasswords()"
                    #confirmPasswordInput="ngModel" minlength="6" required [class.invalid]="
            confirmPasswordInput.invalid &&
            (confirmPasswordInput.dirty || confirmPasswordInput.touched)
          " />
                <i class="fa" [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="toggleConfirmPasswordVisibility()" style="cursor: pointer; margin-left: -30px"></i>
            </div>
            <div class="error" *ngIf="
          confirmPasswordInput.invalid &&
          (confirmPasswordInput.dirty || confirmPasswordInput.touched)
        ">
                <span *ngIf="confirmPasswordInput.errors?.required" class="font-13">Confirm password is required.</span>
            </div>
        </div>

        <div class="error" *ngIf="passwordsMismatch">
            <span class="font-13">Passwords do not match.</span>
        </div>

        <button type="submit" [disabled]="resetForm.invalid || passwordsMismatch">
            Reset Password
        </button>
    </form>
</div>