.forgot-pass-container {
    background: white;
    padding: 2.5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInUp 0.8s ease-out;
    min-width: 400px;
}

.forgot-pass-container p {
    text-align: center;
    margin-bottom: 1.2rem;
}

.font-13 {
    font-size: 13px;
}

h2 {
    text-align: center;
    margin-bottom: 1.8rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.7rem 1rem;
    /* margin-bottom: 0.5rem; */
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #764ba2;
    box-shadow: 0 0 5px rgba(118, 75, 162, 0.4);
    outline: none;
}

input.invalid {
    border-color: #d93025;
    background-color: #fff3f3;
}

.error-message {
    color: #d93025;
    font-size: 0.9rem;
    font-weight: 500;
}

button {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.05rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
    background: #5D87FF;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}

/* General error styling (like form-wide error messages) */
.error {
    color: #d93025;
    text-align: end;
    font-weight: 500;
}

div a {
    align-items: end;
    display: flex;
    justify-content: end;
    font-size: 14px;
    font-weight: bold;
    color: #5D96FF;
}

a button {
    background: transparent;
    border: 1px solid #5D96FF;
    color: #5D96FF;
    font-weight: normal;
}

.login-container, .change-password-container {
    background: white;
    padding: 2.5rem 2rem;
    border-radius: 12px;
    box-shadow: rgba(145, 158, 171, 0.12) 0px 1px 16px;
    /* margin: 0 auto; */
}


.font-13 {
    font-size: 13px;
}

.gap-1rem {
    gap: 1rem;
}

.change-password-container h2 {
    text-align: center;
    margin-bottom: 1.8rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.7rem 1rem;
    /* margin-bottom: 0.5rem; */
    border: 1.5px solid #DFE5EF;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* input:focus {
    border-color: #764ba2;
    box-shadow: 0 0 5px rgba(118, 75, 162, 0.4);
    outline: none;
} */


input:focus, .dropdown:focus, .password-field input:focus {
    border-color: #5D87FF;
    box-shadow: 0 0 5px rgba(11, 12, 20, 0.4);
    outline: none;
}

input:focus, .dropdown:focus, .password-field input:hover {
    border-color: #5D87FF;
    box-shadow: 0 0 5px rgba(11, 12, 20, 0.4);
    outline: none;
}

input.invalid {
    border-color: #d93025;
    background-color: #fff3f3;
}



div a {
    align-items: end;
    display: flex;
    justify-content: end;
    /* font-size: 14px; */
    /* font-weight: bold; */
    color: #5D96FF;
}

.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

.password-field input {
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.password-field i {
    position: absolute;
    right: 10px;
    color: #888;
}

.grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}