    <div class="login-container">
        <p>Please enter the email address associated with your account</p>
        <form>
            <!-- Email -->
             <div class="">
            <label for="email">Email</label>
            <input id="email" name="email" type="email"  [(ngModel)]="email" #emailInput="ngModel" required minlength="3"
                pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                (input)="onInputChange()"
                [class.invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)" />
            <div class="error" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                <span *ngIf="emailInput.errors?.required" class="font-13">Email is required.</span>
                <span *ngIf="emailInput.errors?.pattern" class="font-13">Enter a valid email address.</span>
            </div>
            </div>
         
            <button type="submit" [disabled]="loginForm.invalid">Forgot Password</button>

            <a routerLink="/login"><button>Back to Login</button></a>
            <!-- Server or Login error -->
            <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
        </form>
    </div>