<div class="main-container outlet_wrapper">
  <div class="row-flex jsb page-header relative">
    <div class="page-header-text">
      <h2 class="heading_text tab_name font-18">Change Password</h2>
      <div class="breadcrumb row-flex" style="align-items: center">
        <a routerLink="/dashboard">Dashboard</a>
        <img
          style="width: 8px; height: 8px; margin: 0 0.8rem"
          src="assets/images/circle-fill.svg"
        />
        <a routerLink="/users"> Users </a>
        <img
          style="width: 8px; height: 8px; margin: 0 0.8rem"
          src="assets/images/circle-fill.svg"
        />
        Change Password
      </div>
    </div>
    <img class="header-image" src="assets/images/Chat.png" alt="" />
  </div>

  <div class="change-password-container">
    <!-- <h2>Change Password</h2> -->

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="inner-flex gap-1rem">
        <!-- Email -->
         <div class="grid-two">
        <!-- <div>
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            [(ngModel)]="loginData.email"
            #emailInput="ngModel"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            [class.invalid]="
              emailInput.invalid && (emailInput.dirty || emailInput.touched)
            "
          />
          <div
            class="error"
            *ngIf="
              emailInput.invalid && (emailInput.dirty || emailInput.touched)
            "
          >
            <span *ngIf="emailInput.errors?.required" class="font-13"
              >Email is required.</span
            >
            <span *ngIf="emailInput.errors?.pattern" class="font-13"
              >Enter a valid email address.</span
            >
          </div>
        </div> -->

        <!-- Old Password -->
        <div class="password-wrapper">
          <label for="oldPassword">Enter Your Old Password</label>
          <div class="password-field">
            <input
              id="oldPassword"
              name="oldPassword"
              [type]="passwordVisible ? 'text' : 'password'"
              [(ngModel)]="loginData.oldPassword"
              #oldPasswordInput="ngModel"
              required
              minlength="3"
              [class.invalid]="
                oldPasswordInput.invalid &&
                (oldPasswordInput.dirty || oldPasswordInput.touched)
              "
            />
            <i
              class="fa"
              [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
              (click)="togglePasswordVisibility()"
              style="cursor: pointer; margin-left: -30px"
            ></i>
          </div>
          <div
            class="error"
            *ngIf="
              oldPasswordInput.invalid &&
              (oldPasswordInput.dirty || oldPasswordInput.touched)
            "
          >
            <span *ngIf="oldPasswordInput.errors?.required" class="font-13"
              >Old password is required.</span
            >
            <span *ngIf="oldPasswordInput.errors?.minlength" class="font-13"
              >Minimum 3 characters.</span
            >
          </div>
        </div>

        <!-- New Password -->
        <div class="password-wrapper">
          <label for="newPassword">New Password</label>
          <div class="password-field">
            <input
              id="newPassword"
              name="password"
              [type]="newPasswordVisible ? 'text' : 'password'"
              [(ngModel)]="loginData.password"
              #newPasswordInput="ngModel"
              required
              minlength="4"
              [class.invalid]="
                newPasswordInput.invalid &&
                (newPasswordInput.dirty || newPasswordInput.touched)
              "
            />
            <i
              class="fa"
              [ngClass]="newPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
              (click)="toggleNewPasswordVisibility()"
              style="cursor: pointer; margin-left: -30px"
            ></i>
          </div>
          <div
            class="error"
            *ngIf="
              newPasswordInput.invalid &&
              (newPasswordInput.dirty || newPasswordInput.touched)
            "
          >
            <span *ngIf="newPasswordInput.errors?.required" class="font-13"
              >New password is required.</span
            >
            <span *ngIf="newPasswordInput.errors?.minlength" class="font-13"
              >Minimum 6 characters required.</span
            >
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="confirm-password-wrapper">
          <label for="confirmPassword">Confirm New Password</label>
          <div class="password-field">
            <input
              id="confirmPassword"
              name="confirmPassword"
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              [(ngModel)]="loginData.confirmPassword"
              #confirmPasswordInput="ngModel"
              minlength="4"
              required
              [class.invalid]="
                confirmPasswordInput.invalid &&
                (confirmPasswordInput.dirty || confirmPasswordInput.touched)
              "
            />
            <i
              class="fa"
              [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
              (click)="toggleConfirmPasswordVisibility()"
              style="cursor: pointer; margin-left: -30px"
            ></i>
          </div>
          <div
            class="error"
            *ngIf="
              confirmPasswordInput.invalid &&
              (confirmPasswordInput.dirty || confirmPasswordInput.touched)
            "
          >
            <span *ngIf="confirmPasswordInput.errors?.required" class="font-13"
              >Confirm password is required.</span
            >
            <!-- <span
              *ngIf="loginData.confirmPassword !== loginData.password"
              class="font-13"
              >Passwords do not match.</span
            > -->
          </div>
        </div>
      </div>
      </div>

      <button type="submit" [disabled]="form.invalid">Change Password</button>

      <!-- <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
      <p class="success" *ngIf="successMessage">{{ successMessage }}</p> -->
    </form>
  </div>
</div>
